{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="mx-auto">
    <div class="card shadow mt-5" style="width: 25rem;">
        <div class="card-body">
            <h3 class="title text-center">Sign Up</h3>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-info alert-dismissible fade show" role="alert">
                    <strong>Heads up!</strong> {{ messages[0] }}. Go to <a href="{{ url_for('auth.login') }}">login page</a>.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
            {% endif %}
            {% endwith %}
            <form method="POST" action="/signup">
                <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" name="email" class="form-control" id="exampleInputEmail1" required aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Full Name</label>
                    <input type="text" name="name" class="form-control" id="exampleInputName" required placeholder="Enter your Name">
                    </div>
                <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" name="password" class="form-control" id="exampleInputPassword1" required placeholder="Password">
                </div>
                <button type="submit" class="btn btn-success">Sign Up</button>
            </form>
        </div>
    </div>
    </div>
</div>

{% endblock %}